@import './settings.scss';
@import './tools.scss';

html, body {
  font-family: 'Roboto', sans-serif;
  font-size: $s-base-font-size;
  margin: 0;
}

#root {
  background-color: #fafafa;
  display: inline-block;
  min-width: t-rem(400px);
  padding: 0 t-rem(20px);

  &::before,
  &::after {
    background-color: #000;
    content: '';
    display: block;
    height: t-rem(5px);
    width: 100%;
  }
}
